# libaries needed by pyLoDStorage
# https://pypi.org/project/SPARQLWrapper/
# 321 stars, 95 forks
# https://github.com/RDFLib/sparqlwrapper
# https://stackoverflow.com/questions/tagged/sparqlwrapper
SPARQLWrapper
# https://pypi.org/project/PyYAML/
PyYAML
# https://pypi.org/project/pandas/
pandas