# libaries needed by pyLoDStorage
# https://pypi.org/project/SPARQLWrapper/
# 321 stars, 95 forks
# https://github.com/RDFLib/sparqlwrapper
# https://stackoverflow.com/questions/tagged/sparqlwrapper
SPARQLWrapper~=1.8.5
# https://pypi.org/project/PyYAML/
PyYAML
# https://pypi.org/project/pandas/
pandas
# https://pypi.org/project/matplotlib/
matplotlib>=3.6.2
# tabulate
tabulate
# https://pypi.org/project/numpy/
numpy
# https://pypi.org/project/jsonpickle/
jsonpickle==1.5.2
# https://pypi.org/project/pylatexenc/
pylatexenc~=2.10
# https://pygments.org/
pygments
#https://pypi.org/project/dicttoxml/
# dicttoxml>=1.7.4
# https://pypi.org/project/dicttoxml2/
dicttoxml2