# libaries needed by pyLoDStorage
# https://pypi.org/project/SPARQLWrapper/
# 321 stars, 95 forks
# https://github.com/RDFLib/sparqlwrapper
# https://stackoverflow.com/questions/tagged/sparqlwrapper
SPARQLWrapper~=2.0.0
# https://pypi.org/project/PyYAML/
PyYAML
# https://pypi.org/project/pandas/
pandas
# https://pypi.org/project/matplotlib/
matplotlib
# tabulate
tabulate
# https://pypi.org/project/numpy/
numpy
# https://pypi.org/project/jsonpickle/
jsonpickle==1.5.2
# https://pypi.org/project/pylatexenc/
pylatexenc~=2.10