---
name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  GHACTIONS: ACTIVE
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        #os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        #python-version: [ '3.10', '3.11', '3.12', '3.13' ]
        python-version: [ '3.12' ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: install
        run: |
          scripts/install
      - name: doc
        run: |
          scripts/doc
      - name: Run install and tests
        run: |
          scripts/installAndTest
